<h1 data-bind="text : categoryTitle"></h1>


<table class="table">
              <thead>
                <tr>
                  <th>field</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              	<!-- ko foreach : categories -->
                <tr>
                  <td ><a data-bind="text : title, attr : { href : '#/app/'  + $parent.parentId + '/' + id }" ></a></td>
                  <td><a class="btn" data-bind="click : $parent.remove" >delete</a></td>
                </tr>
                <!-- /ko -->
                <tr>
                  <td><input data-bind="value : title" type="text"/>	</td>
                  <td>
                  	<a data-bind="click : add" href="" class="btn">Add</a>
                  </td>
                </tr>
              </tbody>
            </table>